@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

a { text-decoration: none; }

/* don't show the x for text inputs */
::-ms-clear { display: none; }

/* don't show the eye for password inputs */
::-ms-reveal { display: none; }

html { height: 100%; }

body { width: 100%; height: 100%; margin: 0; padding: 0; font-size: 14px; font-family: "DinNextPro", "Myriad Pro", "PT Sans", AppleGothic, sans-serif; word-wrap: break-word; word-break: keep-all; font-weight: 300; }

div#containerWrap, div#sticky-footer-wrapper { position: relative; min-height: -webkit-calc(100% - 115px); min-height: -ms-calc(100% - 115px); min-height: -moz-calc(100% - 115px); min-height: -o-calc(100% - 115px); min-height: calc(100% - 115px); }

#gnb-footer { position: relative; margin-top: 0px !important; clear: both; }

strong { font-weight: 500; }

.button { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; text-align: center; border: 0; }

.btnListTop { display: none; position: relative; float: right; width: 30px; height: 30px; margin: -40px 35px 0 0; background: url("../img/common/btnTop.png") 0 0 no-repeat; text-indent: -119988px; overflow: hidden; text-align: left; z-index: 100; }

#pncHeaderWrap { height: 35px; background-color: #000; color: #FFF; }

#pncFooter { height: 230px; background-color: #000; }

#contents { position: relative; width: 940px; margin: 0 auto; padding: 0 0 60px; min-height: 500px; font-weight: 400; }

.inputGroup.wrapPassword input.invalid { background: #1c090d url(../img/themeCommon/iconValidation.png) no-repeat 97% -47px !important; }

body { background: #171c2f url("../img/themeCommon/bgBody.jpg") no-repeat 50% 0; color: #bdd6ea; }

legend { display: none; }

button { border: 0; }

#contents { width: 800px; min-height: 500px; }

#topHeader { padding: 120px 0 0 0; border-bottom: 1px solid rgba(57, 66, 93, 0.6); }
#topHeader h1 { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; height: 54px; padding: 0; color: #FFF; font-weight: 300; }
#topHeader h1.subTitle { color: #FFF; font-size: 40px; letter-spacing: -2px; }
#topHeader span { margin-left: 10px; vertical-align: middle; }
#topHeader span a { color: #6698ca; }
#topHeader span a:hover { text-decoration: underline; }

.customPh { position: absolute; top: 20px; left: 20px; color: #6698ca; }

.tooltipText { display: none; position: relative; color: #000000; font-size: 14px; font-weight: 400; text-align: left; background-color: #bdd6ea; }
.tooltipText p { padding: 15px 15px 13px 15px; }
.tooltipText p strong { font-weight: bold; }
.tooltipText .close { display: none; }
.tooltipText:before { position: absolute; left: -6px; top: 22px; content: ""; font-size: 24px; font-family: FontAwesome; font-weight: bold; color: #bdd6ea; }

.ncUiModal .layerClose { position: absolute; right: 10px; top: 23px; display: block; overflow: hidden; text-indent: inherit; width: 23px; height: 23px; background: url("../img/common/btnModalClose.png") no-repeat 0 0; }

.popModal { display: none; position: relative; width: 520px; border: 5px solid #333c54; background-color: #1e243c; }
.popModal header { margin: 35px 35px 0 35px; }
.popModal header h1 { padding-bottom: 20px; color: #FFF; font-size: 40px; font-weight: 300; letter-spacing: -0.5; border-bottom: 1px solid #38425d; }
.popModal .wrapModalContent { padding: 35px 35px; }

.inputGroup { clear: both; position: relative; }
.inputGroup label { display: none; }
.inputGroup input[type="email"], .inputGroup input[type="password"], .inputGroup input[type="text"] { height: 18px; padding: 13px 20px 13px 20px; color: #FFF; border: 1px solid #304378; background-color: #131a32; outline: none; width: 388px; font-size: 16px; font-family: "DinNextPro", "Myriad Pro", "PT Sans", AppleGothic, sans-serif; }
.inputGroup input[type="email"]:-moz-placeholder, .inputGroup input[type="password"]:-moz-placeholder, .inputGroup input[type="text"]:-moz-placeholder { color: #6698ca; font-size: 14px !important; }
.inputGroup input[type="email"]::-moz-placeholder, .inputGroup input[type="password"]::-moz-placeholder, .inputGroup input[type="text"]::-moz-placeholder { color: #6698ca; font-size: 14px !important; }
.inputGroup input[type="email"]:-ms-input-placeholder, .inputGroup input[type="password"]:-ms-input-placeholder, .inputGroup input[type="text"]:-ms-input-placeholder { color: #6698ca; font-size: 14px !important; }
.inputGroup input[type="email"]::-webkit-input-placeholder, .inputGroup input[type="password"]::-webkit-input-placeholder, .inputGroup input[type="text"]::-webkit-input-placeholder { color: #6698ca; font-size: 14px !important; }
.inputGroup input[type="email"]:focus, .inputGroup input[type="password"]:focus, .inputGroup input[type="text"]:focus { border: 1px solid #3658b1; -moz-box-shadow: #3658b1 0px 0px 10px; -webkit-box-shadow: #3658b1 0px 0px 10px; box-shadow: #3658b1 0px 0px 10px; background-image: none !important; }
.inputGroup input[type="email"].valid, .inputGroup input[type="password"].valid, .inputGroup input[type="text"].valid { border: 1px solid #3658b1; -moz-box-shadow: #3658b1 0px 0px 10px; -webkit-box-shadow: #3658b1 0px 0px 10px; box-shadow: #3658b1 0px 0px 10px; background: #131a32 url(../img/themeCommon/iconValidation.png) no-repeat 97% 12px; }
.inputGroup input[type="email"].invalid, .inputGroup input[type="password"].invalid, .inputGroup input[type="text"].invalid { border: 1px solid #c81b1d; -moz-box-shadow: #c81c1c 0px 0px 10px; -webkit-box-shadow: #c81c1c 0px 0px 10px; box-shadow: #c81c1c 0px 0px 10px; background-color: #1c090d; }
.inputGroup.wrapPassword .msg { position: relative; padding-top: 10px; text-align: left; display: none !important; }
.inputGroup.wrapPassword .msg.valid { display: block; padding-left: 240px; padding-top: 0 !important; color: #456eda; font-size: 0; /*
&:before {
	position: absolute;
	top: $top;
	left: $left;
	@include iconic-font('\f058', 22px, #456eda);
}
*/ }
.inputGroup.wrapPassword .msg.invalid { display: block; padding-left: 240px; color: #a63824; /*
&:before {
	position: absolute;
	top: $top;
	left: $left;
	@include iconic-font('\f06a', 22px, #a83824);
}
*/ }
.inputGroup.wrapPassword .msg.invalid#password_blacklist { display: block !important; }
.inputGroup input[type="password"]#currentPassword.valid, .inputGroup input[type="password"]#currentPasswordDN.valid, .inputGroup input[type="password"]#currentPasswordCPW.valid { background-image: none !important; }
.inputGroup .msg { display: none; position: relative; padding-top: 10px; text-align: left; }
.inputGroup .msg.valid { display: block; padding-left: 240px; padding-top: 0 !important; color: #456eda; font-size: 0; /*
&:before {
	position: absolute;
	top: $top;
	left: $left;
	@include iconic-font('\f058', 22px, #456eda);
}
*/ }
.inputGroup .msg.invalid { display: block; padding-left: 240px; color: #a63824; /*
&:before {
	position: absolute;
	top: $top;
	left: $left;
	@include iconic-font('\f06a', 22px, #a83824);
}
*/ }

.wrapError { display: none; margin: 15px auto 0 auto; padding: 15px; color: #d90000; text-align: center; background-color: rgba(0, 0, 0, 0.3); }
.wrapError.invalid { display: block; }
.wrapError a { color: #d90000; }
.wrapError a:hover { text-decoration: underline; }

.wrapLink { display: block; width: 100%; margin: 0 auto; padding-top: 20px; text-align: center; }
.wrapLink .link { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; width: 40%; }
.wrapLink .text { color: #bdd6ea; font-size: 14px; padding: 0 0; color: #698194; }
.wrapLink .text.over, .wrapLink .text:hover { color: #6698ca; text-decoration: underline; }
.wrapLink .text.disable { color: rgba(56, 69, 87, 0.6); background-color: none; cursor: default; }
.wrapLink .resend { color: #bdd6ea; font-size: 14px; padding: 0 0; color: #698194; cursor: pointer; text-decoration: underline; }
.wrapLink .resend.over, .wrapLink .resend:hover { color: #6698ca; text-decoration: underline; }
.wrapLink .resend.disable { color: rgba(56, 69, 87, 0.6); background-color: none; cursor: default; }
.wrapLink .resend a { color: #bdd6ea; font-size: 14px; padding: 0 0; color: #698194; cursor: pointer; text-decoration: underline; }
.wrapLink .resend a.over, .wrapLink .resend a:hover { color: #6698ca; text-decoration: underline; }
.wrapLink .resend a.disable { color: rgba(56, 69, 87, 0.6); background-color: none; cursor: default; }
.wrapLink + .wrapButton { margin-top: 20px; }

.bar { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; border-left: 1px solid #010209; border-right: 1px solid #2e395a; width: 0; height: 13px; margin: 0 1%; text-indent: -99999px; overflow: hidden; }

.wrapButton { display: block; width: 100%; padding: 20px 0; }
.wrapButton .box { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; width: 47%; text-align: left !important; }
.wrapButton .box.square a, .wrapButton .box.square button { background-color: #22659a; color: #FFF; font-size: 17px; padding: 15px 0; cursor: pointer; padding-top: 20px; width: 90%; }
.wrapButton .box.square a.over, .wrapButton .box.square a:hover, .wrapButton .box.square button.over, .wrapButton .box.square button:hover { background-color: #0f437c; }
.wrapButton .box.square a.disable, .wrapButton .box.square button.disable { cursor: default; background-color: #3e3e3e !important; color: rgba(255, 255, 255, 0.3) !important; }
.wrapButton .box.text { text-align: left; }
.wrapButton .box.text a { margin-left: 20px; color: #384557; font-size: 16px; padding: 18px 0px; text-decoration: underline; }
.wrapButton .box.text a.over, .wrapButton .box.text a:hover { color: #6698ca; }
.wrapButton .box.text a.disable { color: rgba(56, 69, 87, 0.6); background-color: none; cursor: default; }
.wrapButton .squareSingle { width: 100%; background-color: #22659a; color: #FFF; font-size: 17px; padding: 15px 0; cursor: pointer; padding-top: 20px; }
.wrapButton .squareSingle.over, .wrapButton .squareSingle:hover { background-color: #0f437c; }
.wrapButton .squareSingle.disable { cursor: default; background-color: #3e3e3e !important; color: rgba(255, 255, 255, 0.3) !important; }

.wrapCaptcha { position: relative; z-index: 99999; }
.wrapCaptcha label { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; overflow: hidden; }
.wrapCaptcha #html_element { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; width: 302px; height: 78px; }
.wrapCaptcha .msg { display: none; position: relative; padding-top: 10px; text-align: left; width: 400px; margin: 10px 0 0 218px; padding: 15px 15px !important; text-align: left; color: #a63824; background-color: #121624; }
.wrapCaptcha .msg:before { display: none; }
.wrapCaptcha .msg.valid { display: block; padding-left: 155px; padding-top: 0 !important; color: #456eda; font-size: 0; /*
&:before {
	position: absolute;
	top: $top;
	left: $left;
	@include iconic-font('\f058', 22px, #456eda);
}
*/ }
.wrapCaptcha .msg.invalid { display: block; padding-left: 155px; color: #a63824; /*
&:before {
	position: absolute;
	top: $top;
	left: $left;
	@include iconic-font('\f06a', 22px, #a83824);
}
*/ }
.wrapCaptcha.clean { width: 420px; margin-left: 220px; padding: 10px 0 8px 10px; text-align: left; background-color: #FFF; }
.wrapCaptcha.clean label { width: 100px; color: #333; text-align: center; }

.formCheck { display: none; position: relative; top: 15px; left: 218px; z-index: 10; width: 388px; margin-bottom: 15px; padding: 16px 20px; text-align: left; background-color: #111521; }
.formCheck:before { position: absolute; right: 15px; top: -15px; content: ""; font-size: 24px; font-family: FontAwesome; font-weight: bold; color: #111521; }
.formCheck li { display: block; padding-left: 10px; padding-bottom: 5px; font-size: 13px; color: #aaaaaa; background: url("../img/common/dot.png") no-repeat 0 3px; }
.formCheck li.on { color: #a63922 !important; }

.pwStrength { display: none; position: absolute; top: 12px; right: 170px; font-size: 0; }
.pwStrength strong.grade { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; width: 28px; height: 25px; background: url("../img/common/barPwStrength.png") no-repeat 0 0; }
.pwStrength strong.grade.grade0 { background-position: 0 0; }
.pwStrength strong.grade.grade1 { background-position: 0 -100px; }
.pwStrength strong.grade.grade2 { background-position: 0 -200px; }
.pwStrength strong.grade.grade3 { background-position: 0 -300px; }
.pwStrength strong.grade.grade4 { background-position: 0 -400px; }

.wrapLogin { width: 430px; margin: 0 auto; padding: 40px 0 60px 0; }
.wrapLogin .title { padding: 40px 0 20px 0; font-size: 40px; font-weight: 300; color: #FFF; letter-spacing: -2px; text-align: center; }
.wrapLogin .subtitle { padding-bottom: 40px; text-align: center; }
.wrapLogin .subtitle h2 { font-size: 18px; line-height: 25px; font-weight: 300; }
.wrapLogin .subtitle h2 strong { display: block; padding-bottom: 10px; font-weight: normal; color: #698194; }
.wrapLogin .inputGroup { margin-bottom: -1px; }
.wrapLogin .inputGroup input:focus { -moz-box-shadow: #3658b1 0px 0px 0px; -webkit-box-shadow: #3658b1 0px 0px 0px; box-shadow: #3658b1 0px 0px 0px; border: 1px solid #2f4378 !important; background-color: #101529 !important; }
.wrapLogin .inputGroup input.valid { border: 1px solid #2f4378 !important; -moz-box-shadow: #3658b1 0px 0px 0px; -webkit-box-shadow: #3658b1 0px 0px 0px; box-shadow: #3658b1 0px 0px 0px; }
.wrapLogin .inputGroup input.invalid { border: 1px solid #2f4378 !important; -moz-box-shadow: #c81c1c 0px 0px 0px; -webkit-box-shadow: #c81c1c 0px 0px 0px; box-shadow: #c81c1c 0px 0px 0px; background-color: #131a32 !important; }
.wrapLogin .wrapAccountRemember { padding: 9px 0 0; }
.wrapLogin .wrapAccountRemember input { position: absolute; left: -9999px; }
.wrapLogin .wrapAccountRemember label { margin: 0; vertical-align: middle; text-align: left; outline: none; -moz-appearance: none; -webkit-appearance: none; }
.wrapLogin .wrapAccountRemember label:before { margin-right: 8px; vertical-align: middle; content: ""; font-size: 22px; font-family: FontAwesome; font-weight: bold; color: #304378; }
.wrapLogin .wrapAccountRemember label.checked:before { margin-right: 5px; content: ""; font-size: 22px; font-family: FontAwesome; font-weight: bold; color: #304378; }
.wrapLogin .wrapAccountRemember label.focused:before { color: #536d82; }

.wrapSub { position: relative; width: 800px; margin: 0 auto; text-align: center; }
.wrapSub .msgTop { display: none; width: 780px; padding: 12px 0 12px 20px; text-align: left; color: #6698ca; background-color: rgba(0, 0, 0, 0.3); }
.wrapSub .msgTop:before { padding-right: 10px; content: ""; font-size: 14px; font-family: FontAwesome; font-weight: bold; color: #6698ca; }
.wrapSub .msgTop.error { color: #d90000; }
.wrapSub .msgTop.error:before { padding-right: 10px; content: ""; font-size: 14px; font-family: FontAwesome; font-weight: bold; color: #d90000; }
.wrapSub .title { padding: 80px 0 0 0; font-size: 40px; color: #FFF; text-align: center; }
.wrapSub .subtitle { padding-top: 40px; }
.wrapSub .subtitle h2 { font-size: 18px; line-height: 25px; font-weight: 300; }
.wrapSub .subtitle h2 strong { color: #6698ca; }
.wrapSub .subtitle h2.error:before { display: block; position: relative; left: 41%; content: ''; width: 127px; height: 127px; margin-bottom: 30px; background: url("../img/signup/iconError.png") no-repeat 0 0; }
.wrapSub .subtitle h2.caution:before { display: block; position: relative; left: 41%; content: ''; width: 128px; height: 104px; margin-bottom: 30px; background: url("../img/signup/iconCaution.png") no-repeat 0 0; }
.wrapSub .subtitle .goEmail { color: #6698ca; }
.wrapSub.complete .title { font-weight: 300; letter-spacing: -2px; }
.wrapSub.complete .subtitle { padding-top: 10px; }
.wrapSub.complete .wrapForm { margin-top: 12px; }
.wrapSub .wrapForm { position: relative; width: 430px; margin: 40px auto 0 auto; }
.wrapSub .wrapForm.reset .inputGroup { width: 430px; margin-bottom: -1px; }
.wrapSub .wrapForm.reset .inputGroup input:focus { -moz-box-shadow: #3658b1 0px 0px 0px; -webkit-box-shadow: #3658b1 0px 0px 0px; box-shadow: #3658b1 0px 0px 0px; border: 1px solid #2f4378 !important; background-color: #101529 !important; }
.wrapSub .wrapForm.reset .inputGroup input.valid { border: 1px solid #2f4378 !important; -moz-box-shadow: #3658b1 0px 0px 0; -webkit-box-shadow: #3658b1 0px 0px 0; box-shadow: #3658b1 0px 0px 0; }
.wrapSub .wrapForm.reset .inputGroup input.invalid { border: 1px solid #2f4378 !important; -moz-box-shadow: #c81c1c 0px 0px 0px; -webkit-box-shadow: #c81c1c 0px 0px 0px; box-shadow: #c81c1c 0px 0px 0px; background-color: #131a32 !important; }
.wrapSub .wrapForm.reset .inputGroup .msg { position: relative; padding-top: 10px; text-align: left; }
.wrapSub .wrapForm.reset .inputGroup .msg.valid { display: block; padding-left: 20px; padding-top: 0 !important; color: #456eda; font-size: 0; /*
&:before {
	position: absolute;
	top: $top;
	left: $left;
	@include iconic-font('\f058', 22px, #456eda);
}
*/ }
.wrapSub .wrapForm.reset .inputGroup .msg.invalid { display: block; padding-left: 20px; color: #a63824; /*
&:before {
	position: absolute;
	top: $top;
	left: $left;
	@include iconic-font('\f06a', 22px, #a83824);
}
*/ }
.wrapSub .wrapForm.reset .inputGroup.wrapPassword .msg { position: relative; padding-top: 10px; text-align: left; }
.wrapSub .wrapForm.reset .inputGroup.wrapPassword .msg.valid { display: block; padding-left: 10px; padding-top: 0 !important; color: #456eda; font-size: 0; /*
&:before {
	position: absolute;
	top: $top;
	left: $left;
	@include iconic-font('\f058', 22px, #456eda);
}
*/ }
.wrapSub .wrapForm.reset .inputGroup.wrapPassword .msg.invalid { display: block; padding-left: 10px; color: #a63824; /*
&:before {
	position: absolute;
	top: $top;
	left: $left;
	@include iconic-font('\f06a', 22px, #a83824);
}
*/ }
.wrapSub .wrapForm.reset .inputGroup.wrapPassword .msg:before { display: block !important; }
.wrapSub .wrapForm.reset .formCheck { left: 0 !important; margin-bottom: 30px; }
.wrapSub .wrapForm.reset .pwStrength { right: 20px; }
.wrapSub .wrapForm .wrapCaptcha { margin: 20px 0; }
.wrapSub .email { margin: 0 0 40px 0; color: #c69e6a; font-size: 22px; }
.wrapSub .email:before { padding-right: 10px; content: ""; font-size: 22px; font-family: FontAwesome; font-weight: bold; color: #c69e6a; }
.wrapSub .email2 { margin: 0 0 20px 0; color: #c69e6a; font-size: 22px; }
.wrapSub .email2:before { padding-right: 10px; content: ""; font-size: 22px; font-family: FontAwesome; font-weight: bold; color: #c69e6a; }
.wrapSub .wrapSaveIp { margin: 40px 0 -10px 0; padding: 0; }
.wrapSub .wrapSaveIp input { position: absolute; left: -9999px; }
.wrapSub .wrapSaveIp label { margin: 0; vertical-align: middle; text-align: left; outline: none; -moz-appearance: none; -webkit-appearance: none; }
.wrapSub .wrapSaveIp label:before { margin-right: 8px; vertical-align: middle; content: ""; font-size: 22px; font-family: FontAwesome; font-weight: bold; color: #304378; }
.wrapSub .wrapSaveIp label.checked:before { margin-right: 5px; content: ""; font-size: 22px; font-family: FontAwesome; font-weight: bold; color: #304378; }
.wrapSub .wrapSaveIp label.focused:before { color: #536d82; }
.wrapSub .wrapSaveIp .tooltipText:before { bottom: 36% !important; }
.wrapSub .btnGoEmail { color: #6698ca; text-decoration: underline; }
.wrapSub .wrapButton .squareSingle { width: 230px; }

.wrapInput { position: relative; width: 800px; margin: 0 auto; padding-top: 40px; }
.wrapInput .customPh { left: 240px; }
.wrapInput .inputGroup { padding-bottom: 15px; }
.wrapInput .inputGroup label { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; width: 200px; padding-right: 15px; text-align: right; }
.wrapInput .inputGroup.wrapDob { margin-left: -5px; }
.wrapInput .inputGroup.wrapDob p { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; overflow: hidden; padding: 5px; }
.wrapInput .inputGroup.wrapDob select { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; padding: 14px 20px; color: #6698ca; border: 1px solid #324178; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background: #131a32 url(../img/themeCommon/selectArrow1.gif) no-repeat right 50%; outline: none; -moz-appearance: none; -webkit-appearance: none; }
.wrapInput .inputGroup.wrapDob select:focus { border: 1px solid #3658b1; -moz-box-shadow: #3658b1 0px 0px 10px; -webkit-box-shadow: #3658b1 0px 0px 10px; box-shadow: #3658b1 0px 0px 10px; }
.wrapInput .inputGroup.wrapDob select:focus.invalid { border: 1px solid #3658b1; -moz-box-shadow: #3658b1 0px 0px 10px; -webkit-box-shadow: #3658b1 0px 0px 10px; box-shadow: #3658b1 0px 0px 10px; background: #131a32 url(../img/themeCommon/selectArrow1.gif) no-repeat right 50%; }
.wrapInput .inputGroup.wrapDob select:focus.valid { color: #6698ca; }
.wrapInput .inputGroup.wrapDob select.valid { color: #ffffff; border: 1px solid #3658b1; -moz-box-shadow: #3658b1 0px 0px 10px; -webkit-box-shadow: #3658b1 0px 0px 10px; box-shadow: #3658b1 0px 0px 10px; }
.wrapInput .inputGroup.wrapDob select.invalid { border: 1px solid #c81b1d; background-color: #1c090d; -moz-box-shadow: #c81c1c 0px 0px 10px; -webkit-box-shadow: #c81c1c 0px 0px 10px; box-shadow: #c81c1c 0px 0px 10px; }
.wrapInput .inputGroup.wrapDob .month select { width: 130px; }
.wrapInput .inputGroup.wrapDob .day select { width: 130px; }
.wrapInput .inputGroup.wrapDob .year select { width: 143px; }
.wrapInput .inputGroup.wrapDob .msg:before { display: none; }
.wrapInput .inputGroup.wrapAgree { padding: 40px 0 20px 0; line-height: 18px; border-top: 1px solid rgba(57, 66, 93, 0.6); border-bottom: 1px solid rgba(57, 66, 93, 0.6); }
.wrapInput .inputGroup.wrapAgree span.label { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; width: 200px; padding-right: 15px; color: #bdd6ea; text-align: right; vertical-align: top !important; }
.wrapInput .inputGroup.wrapAgree label:before { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; vertical-align: top !important; }
.wrapInput .inputGroup.wrapAgree label span { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; width: 400px; color: #bdd6ea; cursor: default; }
.wrapInput .inputGroup.wrapAgree p { padding-bottom: 15px; color: #6698ca; text-align: left; }
.wrapInput .inputGroup.wrapAgree p input { position: absolute; left: -9999px; }
.wrapInput .inputGroup.wrapAgree p label { margin: 0; vertical-align: middle; text-align: left; outline: none; -moz-appearance: none; -webkit-appearance: none; }
.wrapInput .inputGroup.wrapAgree p label:before { margin-right: 8px; vertical-align: middle; content: ""; font-size: 22px; font-family: FontAwesome; font-weight: bold; color: #304378; }
.wrapInput .inputGroup.wrapAgree p label.checked:before { margin-right: 5px; content: ""; font-size: 22px; font-family: FontAwesome; font-weight: bold; color: #304378; }
.wrapInput .inputGroup.wrapAgree p label.focused:before { color: #536d82; }
.wrapInput .inputGroup.wrapAgree p label { width: 530px; text-align: left; }
.wrapInput .inputGroup.wrapAgree a { color: #bdd6ea; }
.wrapInput .inputGroup.wrapAgree a:hover { text-decoration: underline; }
.wrapInput .inputGroup.wrapAgree .msg { position: relative; padding-top: 10px; text-align: left; width: 400px; margin: 30px 0 0 215px; padding: 15px 15px !important; color: #a63824; background-color: #121624; }
.wrapInput .inputGroup.wrapAgree .msg:before { display: none; }
.wrapInput .inputGroup.wrapAgree .msg.valid { display: block; padding-left: 155px; padding-top: 0 !important; color: #456eda; font-size: 0; /*
&:before {
	position: absolute;
	top: $top;
	left: $left;
	@include iconic-font('\f058', 22px, #456eda);
}
*/ }
.wrapInput .inputGroup.wrapAgree .msg.invalid { display: block; padding-left: 155px; color: #a63824; /*
&:before {
	position: absolute;
	top: $top;
	left: $left;
	@include iconic-font('\f06a', 22px, #a83824);
}
*/ }
.wrapInput .inputGroup.wrapCaptcha { margin-bottom: 20px; padding-bottom: 8px; }
.wrapInput .inputGroup.wrapCaptcha #html_element { width: 302px; height: 76px; }
.wrapInput .wrapButton { width: 430px; margin-left: 220px; padding-top: 30px; }

.wrapBanner { padding-top: 80px; border-top: 1px solid #39425d; }
.wrapBanner h2 { font-size: 22px; color: #6698ca; text-align: center; }
.wrapBanner ul { width: 600px; height: 117px; margin: 20px auto 0 auto; border: 3px solid #000000; }
.wrapBanner li { float: left; display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; width: 150px; height: 117px; font-size: 0; }
.wrapBanner li:nth-child(1) { background: url("../img/signup/banner_games.jpg") no-repeat 0 0; }
.wrapBanner li:nth-child(1):hover { background: url("../img/signup/banner_games.jpg") no-repeat 0 -117px; }
.wrapBanner li:nth-child(2) { background: url("../img/signup/banner_games.jpg") no-repeat -150px 0; }
.wrapBanner li:nth-child(2):hover { background: url("../img/signup/banner_games.jpg") no-repeat -150px -117px; }
.wrapBanner li:nth-child(3) { background: url("../img/signup/banner_games.jpg") no-repeat -300px 0; }
.wrapBanner li:nth-child(3):hover { background: url("../img/signup/banner_games.jpg") no-repeat -300px -117px; }
.wrapBanner li:nth-child(4) { background: url("../img/signup/banner_games.jpg") no-repeat -450px 0; }
.wrapBanner li:nth-child(4):hover { background: url("../img/signup/banner_games.jpg") no-repeat -450px -117px; }
.wrapBanner li a { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; width: 100%; height: 100%; }

.wrapDownLink { padding: 20px 0 0 220px; }
.wrapDownLink p { color: #ffffff; }
.wrapDownLink p a { color: #6698ca; }
